/** Shadcn Variables */
:root {
  --accent: oklch(0.97 0 0);
  --background: oklch(0.97 0 0);
  --foreground: oklch(0.2 0 0);
}

.theme-dark-mode {
  --accent: oklch(0.371 0 0);
  --background: oklch(21% 0.034 264.665);
  --foreground: oklch(90% 0.017 264.665);
}
