{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
